
div {
    position: relative;
    padding: 30px;
    border-radius: 20px;
    border-color:  rgb(233, 233, 233);
    border-style: solid;
    background-color: white;
    height: auto ;
    overflow: scroll;
}